.appearingText{
  position: absolute;
  margin-top: -50px;
}
.jumbotron{
  background-color: white;
}
#ben{
  /*width: 100%;*/
}
.black{
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}
.black:hover{
  background-color: black;
  -ms-transform: scale(1.3,1.3); /* IE 9 */
  -webkit-transform: scale(1.3,1.3); /* Safari */
  transform: scale(1.3,1.3);
  z-index: 7;
  position: relative;
  box-shadow: 20px 20px 10px rgba(0,0,0,0.5);
}
.black.text:hover{
  margin-top: 0px;
}
body{
  color: white;
}
#chuck{
  /*width: 100%;*/
}
#davina{
 /* margin-top: 60px;
  margin-left: 7px;*/
}
#davinaBlack{
  margin-top: 60px;
  margin-left: 7px;
}
#hillary{

}
#hillaryBlack{
  width: 100%;
  margin-left: 20px;
}
img{
  max-width: 100%;
  margin: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}
img:hover{
  position: relative;
  /*width: 120%;*/
/*  -ms-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);*/
  /*z-index: 6;*/
  /*border: 2px solid red;*/
  opacity: 0.5;
}
#keynote{
  /*width: 100%;*/
}
#mic{
  /*width: 100%;*/
}
.pic{

}
#picTable{
  width: 90%;
  margin-top: 20px;
}
#benText{
  position: absolute;
  margin-top: -190px;
  margin-left: 25px;
  z-index: 4;
  /*width: 100%;
  height: 100%;*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 50px;
}
/*.text:hover{
  margin-top: -170px;
}*/
#tony{
  /*width: 100%;*/
}


